AUTH_APP_NAME="Auth Service"
AUTH_ENV=dev
AUTH_AUTO_CREATE_TABLES=true
AUTH_DATABASE_URL=postgresql+asyncpg://auth:auth@db_auth:5432/auth_db
AUTH_DB_HOST=db_auth
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=auth
AUTH_DB_DSN=postgresql+asyncpg://auth:auth@db_auth:5432/auth_db
AUTH_JWT_SECRET_KEY=change-me-in-prod
AUTH_JWT_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=120
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=30
AUTH_ACCESS_COOKIE_NAME=access_token
AUTH_REFRESH_COOKIE_NAME=refresh_token
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_HTTPONLY=true
AUTH_COOKIE_SAMESITE=lax
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_PATH=/
