NEXT_PUBLIC_APP_URL=http://localhost:8088
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:8088/auth_service
NEXT_PUBLIC_PRESALE_SERVICE_URL=http://localhost:8088/presale_service
NEXT_PUBLIC_AI_SERVICE_URL=http://localhost:8088/ai_service
NEXT_PUBLIC_MINIO_URL=http://localhost:8088/minio
