PRESALE_APP_NAME="Presale Service"
PRESALE_ENV=dev
PRESALE_AUTO_CREATE_TABLES=true
PRESALE_DATABASE_URL=postgresql+asyncpg://presale:presale@db_presale:5432/presale_db
PRESALE_DB_HOST=db_presale
PRESALE_DB_PORT=5432
PRESALE_DB_NAME=presale_db
PRESALE_DB_USER=presale
PRESALE_DB_PASSWORD=presale
PRESALE_DB_DSN=postgresql+asyncpg://presale:presale@db_presale:5432/presale_db
PRESALE_JWT_SECRET_KEY=change-me-in-prod
PRESALE_JWT_ALGORITHM=HS256
PRESALE_AI_SERVICE_URL=http://ai_service:8003
